html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  word-break: break-word;
  overflow-wrap: break-word;
}

a {
  color: black;
}

pre {
  white-space: pre-wrap;
  background: gray;
  font-size: 0.9em;
  padding: 0.5em;
}

code, pre {
  font-family: SFMono-Regular, Consolas, 'Courier New', 'BIZ UDGothic', Meiryo, monospace;
}

hr {
  height:0;
  border:0;
  border-top:1px solid #d0d0d0;
  border-bottom:1px solid #fff;
}

table tr:nth-child(odd) td {
  background: #d0d0d0;
  padding: 0.25em;
}

table tr:nth-child(even) td {
  background: #b0b0b0;
  padding: 0.25em;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .main {
  flex: 700px;
}

.container .left, .right {
  flex: 0px;
}

.article {
  margin: 0 2em;
  padding: 2em 0;
}

.article p {
  line-height: 2em;
  margin-bottom: 2.5em;
}

.article-heading {
  margin-bottom: 2.5em;
}

.article-heading .tags {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.content img {
  margin: 0 auto 2em auto;
  max-width: 100%;
  height: auto;
}

.article .summary {
  max-width: 600px;
  margin: 2em 0;
}

ul.pagination {
  margin-left: 2em;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.header {
  background: gray;
}

.blog-title {
  margin: 1em 2em;
}

.blog-title a {
  color: white;
  text-decoration: none;
}
