.footer {
  margin: 2rem;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
}

.avatar {
  width: 100px;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.footer-body {
  flex-direction: column;
}

.footer-body * {
  margin-bottom: 0.2rem;
}
