[submodule "_slides/themes/revealjs"]
	path = _slides/themes/revealjs
	url = https://github.com/minoritea/hugo-revealjs-generator
[submodule "_hugo/themes/hacked"]
	path = _hugo/themes/hacked
  url = https://github.com/minoritea/hugo-hacked.git
