<div class="container">
  <div></div>
  <div class="footer">
    <div class="avatar">
      <img alt="avatar" src="/images/me.jpeg">
    </div>
    <div class="footer-body">
      <div>Minori Tokuda(<a href="https://twitter.com/snowcrush">@snowcrush</a>)</div>
      <div>
      A programmer, and loving software technologies.
      </div>
      <div>
        profile: <a href="https://0pt.jp">https://0pt.jp</a>
      </div>
      <div>
      github: <a href="https://github.com/minoritea">https://github.com/minoritea</a>
      </div>
    </div>
  </div>
  <div></div>
</div>
